.scene {
  width: 250px;
  height: 250px;
  perspective: 600px;
}

.item {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.item__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}


.item__face--back {
  transform: rotateY(180deg);
}

.item.is-flipped {
  transform: rotateY(180deg);
}
